<% layout("layouts/boilerplate") %>

<!-- Assuming you pass listing object from backend -->
 <div class="row">
  <div class="col-8 offset-2">
    <h3 class="edit-listing-info">Edit Listing</h3>
<form action="/listings/<%= listing._id %>?_method=PUT" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
  <!-- Title -->
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input
      id="title"
      name="listing[title]"
      type="text"
      class="form-control"
      value="<%= listing.title %>"
      required
    />
  </div>

  <!-- Description -->
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea
      id="description"
      class="form-control"
      name="listing[description]"
      rows="4"
      required
    >
  <%= listing.description %></textarea
    >
  </div>

  <div class="mb-3">
    <p>Original Listing image</p>
    <img src="<%= originalImageUrl%>" alt="no_image">
  </div>

  <!-- Image -->
  <div class="mb-3">
    <label for="image" class="form-label">Upload new image</label>
    <input
      id="image"
      name="listing[image]"
      type="file"
      class="form-control"
    />
  </div>

  <!-- Price -->
  <div class="mb-3">
    <label for="price" class="form-label">Price (₹)</label>
    <input
      id="price"
      name="listing[price]"
      type="number"
      class="form-control"
      min="0"
      step="0.01"
      value="<%= listing.price %>"
      required
    />
    <div class="invalid-feedback">enter price</div>
  </div>

  <!-- Country -->
  <div class="mb-3">
    <label for="country" class="form-label">Country</label>
    <input
      id="country"
      name="listing[country]"
      class="form-control"
      type="text"
      value="<%= listing.country %>"
      required
    />
    <div class="invalid-feedback">enter country</div>
  </div>

  <!-- Location -->
  <div class="mb-3">
    <label for="location" class="form-label">Location</label>
    <input
      id="location"
      class="form-control"
      name="listing[location]"
      type="text"
      value="<%= listing.location %>"
      required
    />
    <div class="invalid-feedback">enter location</div>
  </div>

  <!-- Submit -->
  <button type="submit" class="edit-list-btn btn mb-1">Update Item</button>
</form>
</div>
</div>
