<% layout("layouts/boilerplate") %>


<%- include("./searchFilter.ejs") %>

  <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 mt-3">
    <!-- no listing found -->
    <% if(result.length === 0) { %>
  <div class="no-results text-center mt-5 col-6 offset-4">
    <h4>No listings found for this category.</h4>
    <a href="/listings" class="btn btn-dark mt-2">View All Listings</a>
  </div>
<% } %>
    <% for(let list of result){ %>
      <div class="listing-card">
        <img src="<%= list.image.url %>" class="card-img-top" style="height: 20rem;" alt="...">
        <div class="card-body">
          <h6 class="card-title"><%= list.title %></h6>
          <p class="card-text"><%= "₹"+list.price.toLocaleString("en-IN")+ "/night, "+ list.country %></p>
          <a href="/listings/<%=list.id%>" class="btn btn-primary">Visit Us</a>
        </div>
      </div>
    <%} %>
  </div>



