<% layout("layouts/boilerplate") %>

<div class="row">
  <div class="col-8 offset-3">
    <h3>Listing details</h3>
  </div>
  <div class="card col-6 offset-3">
    <img src="<%= result.image%>" class="card-img-top show-img" alt="..." />
    <div class="card-body">
      <p class="card-text">
        <b><%=result.title%></b><br />
        <%=result.description%><br />
        ₹<%=result.price.toLocaleString("en-IN")%> <br />
        <%=result.location%> <br />
        <%= result.country %>
      </p>
    </div>
  </div>
  <br />
  <div class="btns">
    <a
      href="/listings/<%=result._id%>/edit"
      class="btn btn-dark col-1 offset-3 show-edit-btn"
      >Edit</a
    >

    <form action="/listings/<%=result._id%>?_method=delete" method="post">
      <button class="btn btn-dark offset-5 show-delete-btn">Delete</button>
    </form>
  </div>

  <%- include("./addReview.ejs") %>

  

</div>
