<% layout("layouts/boilerplate") %>

<div class="row">
  <div class="col-8 offset-3">
    <h3><%=listing.title%></h3>
  </div>
  <div class="listing-card col-6 offset-3">
    <img src="<%= listing.image%>" class="card-img-top show-img" alt="..." />
    <div class="card-body">
      <p class="card-text">
        <p>Listed by-<i><%= listing.owner.username %></i></p>
        <p><%=listing.description%></p>
        <p>₹<%=listing.price.toLocaleString("en-IN")%></p>
        <p><%=listing.location%> </p>
        <p><%= listing.country %></p>
      </p>
    </div>
  </div>
  <br />
  <% if(currUser && currUser._id.equals(listing.owner._id)){ %>
  <div class="btns">
    <a
      href="/listings/<%=listing._id%>/edit"
      class="btn btn-dark col-1 offset-3 show-edit-btn"
      >Edit</a
    >

    <form action="/listings/<%=listing._id%>?_method=delete" method="post">
      <button class="btn btn-dark offset-5 show-delete-btn">Delete</button>
    </form>
  </div>
  <%}%>

  <%- include("./addReview.ejs") %>

  <%- include("./showReviews.ejs") %>
 
</div>
