<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ApnaGhar</title>
</head>
<body>
  <h1>List</h1>
  <ul>
    <li><%=result.title%></li>
    <li><%=result.description%></li>
    <li>₹<%=result.price.toLocaleString("en-IN")%></li>
    <li><%=result.image%></li>
    <li><%=result.location%></li>
  </ul>
  <br>
  <a href="/listings/<%=result._id%>/edit">edit</a>
</body>
</html>